*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.container1{
    height: 400px;
    width: 100%;
    background-position: center;
    color:rgb(186, 199, 10);
}

.banner{
    width: 100%;
    height: 100%;
}

.container1 h1{
    position:absolute;
    left: 2%;
    top:2%;
}

.container2 h2{
    background-color:black;
    color:rgb(186, 199, 10);
    text-align: center;
    padding: .5%;
}

.container2 img{
    height: 130px;
    width: 120px;
    position:relative;
    top:-90px;
    left: 1100px;
    background-color: rgb(210, 211, 208);
    border-radius: 30%;
}

nav{
    padding-top:70px;
}

nav a{
    display: block;
    padding:2%;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

a:hover{
    color:rgb(157, 168, 5);
}

article{
    position:relative;
    top: -350px;
    left:250px;
}

article em, p{
    padding:1%;
}

article em{
    color:rgb(157, 168, 5);
}

article h3{
    width: 750px;
    color:rgb(157, 168, 5);
    padding: .5%;
}

p{
    position:relative;
    left:3%;
}

h3{
    padding:1%;
}

pre{
    position:relative;
    left:-4%;
       
}

.container3 h2, h4{
    background-color: black;
    text-align: center;
    padding: 5px;
}

.container3 img{
    height: 130px;
    width: 120px;
    position:relative;
    top:-95px;
    left: 1100px;
    background-color: rgb(210, 211, 208);
    border-radius: 30%;
}

.listas-descriptivas{
    position: relative;
    left:200px;
    top: -350px;
    margin-right: 250px;
}

.listas-ordenadas{
    position: relative;
    left:200px;
    top: -330px;
    margin-right: 250px;
}

.lista-desordenada{
    position: relative;
    left:200px;
    top: -315px;
    margin-right: 250px;
}

.lista1, .lista2, .lista3{
    position: relative;
    left: 20px;
}

.subtitulos{
    color: rgb(157, 168, 5);
    position: relative;
    left: -10px;
}

.container4 img{
    height: 130px;
    width: 120px;
    position:relative;
    top:-70px;
    left: 1000px;
    background-color: rgb(210, 211, 208);
    border-radius: 30%;
}

.subtitulo1{
    position: relative;
    top: -80px;
    left: 170px;
}

.subtitulo2{
    position: relative;
    top: -350px;
    left: 170px;
}

.tabla-juegos{
    background-color: rgb(255, 251, 251);
    width: 50vw;
    height: 30vh;
    border-collapse: collapse;
    text-align: center;
    position: relative;
    left:180px;
    top: -320px;
}

th{
    padding: 10px;
    color:rgb(208, 223, 10);
    border: rgb(157, 168, 5) 1px solid;
    background-color: black;
}

td {
    color: black;
    padding: 10px;
    border: rgb(157, 168, 5) 1px solid;
}

dl{
    padding: 3%;
}

.fechas{
    background-color: rgb(227, 252, 116);
}

.informacion-adicional{
    position: relative;
    top:-300px;
    left: 125px;
}

.informacion-contacto{
    position: relative;
    top: -295px;
    left: 125px;
}

.email{
    position: relative;
    top: -45px;
    left: 445px;
}